 <!-- ****************************  ALL ISSUE ************************ -->
 <ion-slide id="all-issue">

    <ion-content class="all-issue-content">
        
      <!-- TODO O MAT ACCORDION -->
      <mat-accordion multi="true">
        <!-- INICIO DE UM CARD EXPANSIVEL -->
        <mat-expansion-panel class="card-mostread" *ngFor="let objAnoComIssues of arrAllIssues; let i = index"
          (opened)="setExpansion(i)" [expanded]="0 === i || expandedAll"  #expansion>
          <!-- HEADER DO EXPANSION PANEL -->
          <mat-expansion-panel-header expandedHeight="unset" collapsedHeight="unset" class="card-mostread-header">
            <span [innerHTML]="objAnoComIssues.ano">
              <!-- {{tipoArtigo.tipo_nome}} -->
            </span>

            <a href="#">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </a>
          </mat-expansion-panel-header>
          <!-- FIM DO HEADER DO EXPANSION PANEL -->

          <!-- CONTEÚDO DO EXPANSION PANEL(SÓ APARECE QUANDO CLICAR) -->
          <ng-template matExpansionPanelContent>
            <!-- CARD DENTRO DO EXPANSION PANEL -->
            <section class="card-mostread-content">
              <ion-grid class="volume">
                
                <ion-slides [initialSlide]="(i===0) ? slideAnoAtualSelected : 0">

                  <!-- REPETIR ESSE -->
                  <!-- SLIDE FILHO -->
                  <ion-slide *ngFor="let cardIssue of objAnoComIssues.issues" >

                    <ion-row (click)="sharedProvider?.goToCategoryPage(cardIssue.categoria_id);">

                      <!-- PRIMEIRA COLUNA(FOTO) -->
                      <ion-col col-4>
                        <section class="img-volume">
                          <img src="{{cardIssue.categoria_imagem}}">
                        </section>
                      </ion-col>
                      <!-- FIM PRIMEIRA COLUNA -->

                      <!-- SEGUNDA COLUNA(DADOS) -->
                      <ion-col col-8>
                        <span class="title-volume" >
                          <span [innerHTML]="cardIssue.titulo"></span>
                          <small [innerHTML]="cardIssue.categoria_nome"></small>
                        </span>
                        <span class="description-volume" [innerHTML]="cardIssue.categoria_descricao.slice(0,120)+'...'">
                        </span>
                        
                        <!-- SUB LINHA DA SEGUNDA COLUNA -->
                        <ion-row id="subrow-volume">
                          <ion-col col-12 style="text-align: right">
                            <ion-icon name="custom-favorite" isActive="false"></ion-icon>
                            <span>{{contarFavoritosPorCategoria(cardIssue.ids)}}</span>
                          </ion-col>
                          <!-- <ion-col col-8>
                            <div class="download-info">
                              <span class="artigos">
                                0 of 10 articles
                                <br>(0.00 KB)
                              </span>
                              <ion-icon isActive="false" name="custom-download"></ion-icon>
                            </div>
                          </ion-col> -->
                        </ion-row>
                        <!-- FIM DA SUB LINHA DA SEGUNDA COLUNA -->

                      </ion-col>
                      <!-- FIM SEGUNDA COLUNA -->
                    </ion-row>
                    <!-- FIM DA LINHA PRINCIPAL -->
                  </ion-slide>
                  <!-- FIM SLIDE FILHO -->
                </ion-slides>
              </ion-grid>
              <!-- FIM DO VOLUME -->
            </section>
            <!-- FIM CARD DENTRO DO EXPANSION PANEL -->

          </ng-template>
          <!-- FIM DO CONTEÚDO DO EXPANSION PANEL -->


        </mat-expansion-panel>
        <!-- FIM DO CARD EXPANSION -->
      </mat-accordion>

      <ion-infinite-scroll id="meuinfinite" (ionInfinite)="doInfinite($event)"
        #meuinfinity>
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>


    </ion-content>

  </ion-slide>
  <!-- ****************************  FIM ALL ISSUE ************************ -->