<!--
  Generated template for the ArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>
</ion-header>


<section id="popover"> 
    <div id="popover-center">
      <ion-icon name="custom-close" (click)="closepopover()"></ion-icon>
      <h2>Reference</h2>
      <p [innerHTML]="text_ref"></p>
      <div *ngIf="links_ref.length > 0">
        <!-- <h2>External Links</h2> -->
        <a *ngFor="let link of links_ref; index as i" href="{{link.url}}">{{link.nome}}</a>
      </div>  
      <!-- <section class="btn-popover" (click)="closepopover()"> X </section> -->
    </div>  
</section>


<ion-content>


    

  <article *ngIf="isLoading">

    <!-- HEADER TOOLBAR DO ARTIGO -->
    <header class="header-article">
      <ion-toolbar class="article-toolbar">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <!-- BOTÃO PARA VOLTAR -->
              <ion-icon name="arrow-back" [class.disable-color]="!article?.artigo_anterior" (click)="pegarDadosArticle(article?.artigo_anterior,'esquerda')"></ion-icon>
            </ion-col>
            <ion-col col-8>
              <!-- CONTEUDO DE ONDE VOCÊ SE ENCONTRA -->
              <span>
                <!-- 113(1) January 2018 -->
                {{getArticleTitle("antes")}}
              </span>
              <span>
                <!-- Article 1 of 8 -->
                {{getArticleTitle("depois")}}
              </span>
            </ion-col>
            <ion-col col-2>
              <!-- BOTÃO PARA AVANÇAR -->
              <ion-icon name="arrow-forward" [class.disable-color]="!article?.artigo_proximo" (click)="pegarDadosArticle(article?.artigo_proximo,'direita')"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </header>
    <!-- FIM HEADER TOOLBAR DO ARTIGO -->

    <!-- PRINCIPAL CONTEUDO ENTRE O HEADER E O FOOTER -->
    <div class="artigo">

      <!-- ARTIGO SEM UTILIDADE A PRINCÍPIO -->
      <article>

        <!-- CABEÇALHO DO ARTIGO -->
        <section class="artigo-head">

          <h2 class="textogrande" [innerHTML]="article?.artigo_nome"></h2>

          <h4 class="artigo-autores textopequeno" [innerHTML]="article?.autores">
            <!-- Lysianne Pinto1, Luiz Fernando Zmetek Granja <sup>1</sup>, Mariana Amorim de Almeida <sup>2</sup>, Daniela
          Sales Alviano <sup>1</sup>, Maria Helena da Silva <sup>1</sup>, Regina Ejzemberg <sup>1</sup>, Sonia Rozental
          <sup>3</sup>, Celuta Sales Alviano <sup>1</sup> <a href="#author-reference">+</a> -->
          </h4>

          <h4 class="artigo-instituicoes textopequeno" [innerHTML]="article?.endereco_instituicao">
            <!-- 1. Universidade Federal do Rio de Janeiro, Instituto de Microbiologia Professor Paulo de Góes, Rio de
          Janeiro, RJ, Brasil<br>
          2. Universidade Federal do Rio de Janeiro, Instituto de Macromoléculas Professora Eloisa Mano, Rio de
          Janeiro, RJ, Brasil<br>
          3. Universidade Federal do Rio de Janeiro, Instituto de Biofísica Carlos Chagas Filho, Rio de Janeiro, RJ,
          Brasil -->
          </h4>
          <span class="artigo-doi textopequeno" [innerHTML]="'DOI: '+article?.doi">
            <!-- DOI: 10.1590/0074-02760180120 -->
          </span>
        </section>
        <!-- FIM CABEÇALHO DO ARTIGO -->

        <!-- COMEÇO DO CORPO DO ARTIGO -->
        <section class="artigo-body">


          <!-- <ref (teste)="nossa($event)">testando filho da puta</ref> -->

          <!-- <a (click)="verify()">(01)</a> -->

          
          <h2 class="text-uppercase textogrande">Abstract</h2>

          <div class="textomedio" [innerHTML]="article?.abstract">
            <!-- BACKGROUND Melanin production has been associated with virulence in various pathogenic fungi, including <em>Fonsecaea
            pedrosoi</em>, the major etiological agent for chromoblastomycosis, a subcutaneous fungal disease that
          occurs in South America. -->
          </div>

          <!-- keywords -->
          <section class="keywords textomedio">
            <strong>key words:</strong>

            <a href="#" *ngFor="let keyword of article?.keywords, let i = index" [innerHTML]="(i == article?.keywords.length-1 ? keyword : keyword+'&nbsp; <span> -</span>')"></a>
            <!-- <a href="#">tolerance</a>
          <a href="#">resistance</a>
          <a href="#">biofilm</a> -->
          </section>

          <!-- <h2 class="text-uppercase" *ngIf="article?.conteudo">Materials and methods</h2> -->
          <p id="testando123" class="textomedio" [innerHTML]="article?.conteudo | safeHtml" #conteudo>
            <!-- <em>Melanin particle extraction</em> - <em>F. pedrosoi</em> melanin particles were extracted from the mycelia
          using a Waring Blender with 0.5 M NaOH solution for 10 min. The mixture was kept under constant agitation for
          24 h to completely extract the melanin. The sample was centrifuged at 5000 × <em>g</em> for 30 min and the
          supernatant was collected and treated with 6 M HCl until the pH reached 1.5. The resulting pigmented sample
          was washed several times with distilled water and lyophilised (<em>Alviano et al. 1991</em>
          <sup><a href="#" id="1" class="click-reference" data-toggle="modal" data-target="#exampleModal">1</a></sup>
          ). -->
          </p>


          <button class="btn-rounded btn-small article-btn" *ngFor="let download of article?.downloads" [innerHTML]="download.nome"
            (click)="openTab(download.url)"></button>
          <!-- <button class="btn-rounded btn-small article-btn">Supplementary Data</button> -->

          <!-- <img class="img-fluid" src="assets/imgs/img-article.jpg"> -->


          <style>
            .references .reference:not(:last-child) {
              margin-top: 10px;
              font-family: "Open Sans", sans-serif;
              border-bottom: solid 1px #ddd;
              padding: 10px 0 20px;
            }

            .references .reference:last-child {
              margin-top: 10px;
              font-family: "Open Sans", sans-serif;
              padding: 10px 0 20px;
            }

            .references span.number {
              font-weight: bold;
            }

            .links-reference a {
              text-decoration: none;
              color: #357E7E;
              font-size: 12px;
              font-weight: bold;
            }
          </style>
          <!-- <section class="references">

            <p>&nbsp;</p>
            <h3>REFERENCES</h3>

            <div *ngFor="let reference of article?.references" class="reference" id="{{reference.ancora}}" style="margin-top: 10px;">
              <span class="number" style="font-size: 15px;">{{reference.ordem}}</span>
              <span class="reference-nome" [innerHTML]="reference.nome"></span>
              <div class="links-reference">
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/12995440" target="_blank">PubMed</a>
              </div>
            </div>

          </section>

          <section id="article-autor-referencia">
            <p class="textopequeno" [innerHTML]="article?.autor_correspondente"></p>
          </section> -->




        </section>
        <!-- FIM DO CORPO DO ARTIGO -->
      </article>
    </div>
    <!-- FIM DO PRINCIPAL CONTEÚDO ENTRE O HEADER E O FOOTER -->
  </article>
</ion-content>

<!-- TOOLBAR FOOTER -->
<ion-footer id="article-footer">
  <section id="fontsize">
    <ion-range (ionChange)="controlSize()" min="0" max="4" step="1" snaps="true" [(ngModel)]="fontsize" color="light">
      <ion-icon range-left small color="light" name="custom-fontsize"></ion-icon>
      <ion-icon range-right color="light" name="custom-fontsize"></ion-icon>
    </ion-range>
  </section>


  <!-- </section> -->

  <section id="correspondente">
    <article class="corresp-title">
      Corresponding Author
    </article>
    <article class="corresp-author" [innerHTML]="article?.autor_correspondente">
  
    </article>
  </section>



  <ion-toolbar id="toolbar">
    <ul *ngIf="isLoading">
      <li>
        <ion-icon name="custom-pdf" (click)="openTab(article?.pdf)"></ion-icon>
      </li>
      <li>
        <ion-icon name="custom-fontsize" (click)="verificacao('fontsize');"></ion-icon>
      </li>
      <li>
        <ion-icon name="custom-share" (click)="verificacao('share'); sharing('outros');"></ion-icon>
      </li>
      <li>
        <ion-icon name="custom-envelope" (click)="verificacao('correspondente');"></ion-icon>
      </li>
      <li>
        <icon-favorite-toogle [articleId]="article?.id" name=""></icon-favorite-toogle>
        <!-- <ion-icon name="custom-favorite" (click)="favoritar()"></ion-icon> -->
      </li>
    </ul>
  </ion-toolbar>
</ion-footer>
<!-- FIM TOOLBAR FOOTER -->