page-article {
    #popover{
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        z-index: 99999;
        transition: 0.5s;
    
    }
    #popover #popover-center{
        width: 80%;
        height: max-content;
        background-color: #fff;
        position: relative;
        margin: 0 auto;
        border-radius: 10px;
        font-family: $fontPadrao;
        transition: 0.3s;
    }
    #popover #popover-center ion-icon{
        position: absolute;
        right: 11px;
        top: 12px;
        font-size: 1.5em;
        opacity: 0.5;
    }
    #popover #popover-center h2{
        padding: 10px;
        padding-top: 15px;
        border-bottom: 2px solid rgba(0,0,0,0.1);
        text-align: center;
    }
    #popover #popover-center div h2{
        border-bottom: none;
        border-top: 2px solid rgba(0,0,0,0.1);
        
    }
    #popover #popover-center div a{
        display: block;
        margin: 5px 20px;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        color: #1b7f7d;
        font-weight: bold;
    }
    #popover #popover-center p{
        padding: 0 20px;
        font-weight: bold;
        color: rgba(0,0,0,0.8);
        overflow-y: scroll;
        max-height: 300px;
    }
    #popover #popover-center .btn-popover{
        padding: 10px;
        // background-color: #1b7f7d;
        // border-bottom-right-radius: 10px;
        // border-bottom-left-radius: 10px;
        border-top: 2px solid rgba(0,0,0,0.1);
        text-align: center;
        font-weight: bold;
        color: #1b7f7d;
    
    }



    a{
        color: #1b7f7d;
    }

    h2{
        font-family: inherit;
        font-size: 1.1em;
        font-weight: 700;
        color: #1b7f7d;
        font-weight: 1em;
        margin: 0;
    }
    h3{
        font-family: inherit;
        font-size: 1.1em;
        font-weight: 700;
        color: #1b7f7d;
        font-weight: 1em;
        margin: 0;
    }

    /********************* header ******************/
    .header-article .article-toolbar div{
        background-color: #fff;
    }
    .header-article .article-toolbar ion-grid{
        padding: 0;
    }
    .header-article .article-toolbar ion-grid ion-row{
        padding: 0;
        align-items: center;
    }
    .header-article .article-toolbar ion-grid ion-row ion-col{}
    .header-article .article-toolbar ion-grid ion-row ion-col ion-icon{
        float: left;
        font-weight: bold;
        font-size: 2em;
        color: #1b7f7d;
        padding: 5px;
    }
    .header-article .article-toolbar ion-grid ion-row ion-col:last-of-type ion-icon {
        float: right;
    }
    .header-article .article-toolbar ion-grid ion-row ion-col span{
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-family: $fontPadrao;
        font-weight: 600;
        color: rgba(0,0,0,0.5);
        letter-spacing: 0.02em;
    }
    /******************* fim header ***************/

    /******************* content *******************/
    

    sup{
        display: inline !important;
    }

    // CABEÇALHO DO ARTIGO
    .artigo article .artigo-head{
        padding: 10px;
        background-color: #f2f2f2;
    }
    .artigo article .artigo-head h2:first-of-type{
        margin: 0;
    }
    .artigo article .artigo-head h2{
        font-family: $fontPadrao;
        font-size: 1.1em;
        font-weight: 700;
        color: #1b7f7d;
        font-weight: 1em;
        margin: 20px 0 5px;
    }
    .artigo article .artigo-head h4{
        font-size: .9em;
        font-weight: 600;
        color: #222;
        line-height: 1.2em;
        margin: 5px 0;
    }
    .artigo article .artigo-head h4.artigo-instituicoes{
        opacity: 0.7;
    }
    .artigo article .artigo-head span.artigo-doi{
        font-size: .9em;
        font-weight: 700;
        color: #222;
        display: block;
        width: 100%;
    }

    // CONTEÚDO DO ARTIGO
    .artigo article .artigo-body{
        padding: 10px;
    }
    .artigo article .artigo-body h2.text-uppercase{
        text-transform: uppercase;
    }
    .artigo article .artigo-body h2{
        font-family: inherit;
        font-size: 1.1em;
        font-weight: 700;
        color: #1b7f7d;
        font-weight: 1em;
        // margin: 20px 0 5px;
        margin: 0;
    }
    .artigo article .artigo-body p{
        color: #222;
        font-size: 1em;
        font-family: $fontPadrao;
        margin: 0;
        margin-bottom: 1rem;
        line-height: 1.4em;
    }
    .artigo article .artigo-body .keywords{
        font-size: 1em;
        padding: 10px 0;
        border-top: solid 1px #bfbfbf;
        border-bottom: solid 1px #bfbfbf;
        margin: 15px 0;
        font-family: $fontPadrao;
    }
    .artigo article .artigo-body .keywords strong{
        display: block;
    }
    .artigo article .artigo-body .keywords a{
        color: #1b7f7d;
        padding: 0;
        margin: 0 10px 0 0;
        position: relative;
        transition: .2s color;
        text-decoration: none;
    }
    .artigo article .artigo-body button.article-btn{
        font-size: 13px;
        color: #1b7f7d;
        background-color: #daeae8;
        margin-top: 5px;
        
    }
    .artigo article .artigo-body button.article-btn:hover{
        color: #fff;
        background-color: #1b7f7d;
        border-color: #1b7f7d;
    }

    .artigo article .artigo-body img{
        display: block;
        margin: 30px auto;
    }
    .artigo article .artigo-body #article-autor-referencia{
        background-color: #eaf3f2;
        padding: 10px;
        margin-top: 10px;
    }
    .artigo article .artigo-body #article-autor-referencia p{
        font-size: .9em;
        font-weight: 600;
        color: #222;
        font-family: $fontPadrao;
    }
    .artigo article .artigo-body #article-autor-referencia p:last-of-type{
        margin: 0;
    }
    .artigo article .artigo-body #article-autor-referencia p a{
        color: #1b7f7d;
        text-decoration: none;
    }

    /******************* fim content ***************/

    /******************* Referencias ***************/

    .references .reference {
        margin-top: 10px;
        font-family: "Open Sans", sans-serif;
        border-bottom: solid 1px #ddd;
        padding: 10px 0 20px;
      }

      .reference .number{
          width: 100%;
          display: block;
      }

      .references .reference:last-child {
        margin-top: 10px;
        font-family: "Open Sans", sans-serif;
        padding: 10px 0 20px;
      }

      .references span.number {
        font-weight: bold;
      }

      .links-reference a {
        text-decoration: none;
        color: #357E7E;
        font-size: 12px;
        font-weight: bold;
      }


    /******************* footer *******************/


    /***** Janelas SlideUp *******/
    #fontsize{
        // min-height: 100px;
        width: 100%;
        position: fixed;
        display: block;
        opacity: 0;
        bottom: 0;
        bottom: -100px;
        background-color: #1b7f7d;
        transition: 0.5s ease;
    }
    #share{
        height: auto;
        width: 100%;
        position: fixed;
        display: block;
        opacity: 0;
        bottom: 0;
        bottom: -100px;
        background-color: #1b7f7d;
        transition: 0.5s ease;
    }
    #share .btn-share{
        width: 100%;
        display: flex;
        height: max-content;
    }
    #share .btn-share div{
        width: max-content;
        padding: 5px 10px;
        margin: 5px auto;
        background-color: #fff;
        border-radius: 50px;
        font-size: 1.2em;
        float: left;
        // margin: 5px;
    }
    #share .btn-share article{
        float: left;
        margin-right: 10px;
    }
    #share .btn-share ion-icon{
        
    }
    #share ul{
        list-style: none;
        display: block;
        color: #fff;
        font-family: $fontPadrao;
        padding: 20px !important;
        margin: 0;
    }
    #share ul li{
        display: inline-block;
        justify-content: space-between;
        width: 100%;
    }
    #share ul li .titulo-share{
        width: max-content;
        float: left;
        margin: 0;
        font-size: 1.2em;
    }
    #share ul li .logo-share{
        font-size: 2.2em;
    }

    #correspondente{
        height: auto;
        width: 100%;
        position: fixed;
        display: block;
        opacity: 0;
        bottom: 0;
        bottom: -1000px;
        background-color: #fff;
        transition: 0.5s ease;
    }
    #correspondente .corresp-title{
        width: 100%;
        font-size: 1em;
        text-transform: uppercase;
        font-family: $fontPadrao;
        font-weight: bold;
        color: #1b7f7d;
        background-color: #eaf3f2;
        padding: 10px;
    }
    #correspondente .corresp-author{
        padding: 20px;
        font-family: $fontPadrao;
        font-size: 0.9em;
    }
    #correspondente .corresp-author p:first-of-type{
        margin-top: 0;
    }

    /***** FIM Janelas SlideUp *******/

    #article-footer ion-toolbar{

    }
    #article-footer ion-toolbar ul{
        text-decoration: none;
        list-style: none;
        display: flex;
        margin:0;
        padding: 0;
    }
    #article-footer ion-toolbar ul li{
        float: left;
        width: max-content;
        font-size: 1.4em;
        flex: auto;
        text-align: center;
    }
    #article-footer ion-toolbar ul li a{

    }
    #article-footer ion-toolbar ul li a ion-icon{

    }


    /***************** fim footer *****************/


    .textopequeno{
        // font-size: .9em;
    }
    .textomedio{
        // font-size: 1em;
    }
    .textogrande{
        // font-size: 1.1em;
    }


}

@keyframes upwindow{
    from{bottom: -200px}
    to{bottom: 0;display: block;opacity: 1;}
}