<ion-tabs class="myTabs" #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="Journals" tabIcon="custom-file"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="custom-search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Explore" tabIcon="custom-compass"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Reading List" tabIcon="custom-favorite"></ion-tab>
  <!-- <ion-tab [root]="tab5Root" tabTitle="memorias" tabIcon="custom-fontsize"></ion-tab> -->
</ion-tabs>

