tabs-page{
    // .ion-md-icon-file{
    //     content: url("../../assets/imgs/icons/file.svg");
        
    // }
    // .svg-inline--fa{
    //     fill: aqua;
    // }
    // .ion-md-icon-search{
    //     content: url("../../assets/imgs/icons/search.svg");
    // }
    // .ion-md-icon-compass{
    //     content: url("../../assets/imgs/icons/compass.svg");
    // }
    // .ion-md-icon-star{
    //     content: url("../../assets/imgs/icons/star.svg");
    // }

    $corTabs: (1:rgba(0,0,0,0.5),2:rgba(27, 127, 125, 0.8));
    .myTabs div .tab-button{
        color: map-get($corTabs, 1);
        font-weight: 800;
        font-family: "Open Sans","Lucida Sans",sans-serif;
    }
    .myTabs div .tab-button span{
        font-size: 0.9em;
        font-weight: normal;
    }
    .myTabs div .tab-button  ion-icon{
        color: map-get($corTabs, 1);
        font-weight: 800;
    }
    .myTabs div .tab-button[aria-selected=true]{
        color: map-get($corTabs, 2);
    }
    .myTabs div .tab-button[aria-selected=true] ion-icon.tab-button-icon{
        color: map-get($corTabs, 2);
    }
    
}