<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>

</ion-header>


<ion-content>



  <section class="memorias-content" *ngIf="arrayArticlesFavorites?.length==0">

    <div class="card-memorias-content ">
      <ion-grid>
        <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
        <ion-row class="most-read-row">
          <ion-col col-12>
            <p style="text-align:center">Your favorite reading list is empty.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </section>

  <!-- CONTEÚDO DO CARD MOST READ -->
  <section class="memorias-content" *ngFor="let artigo of arrayArticlesFavorites; let i = index" (click)="sharedProvider?.goToArticlePage(artigo.id);">

    <div class="card-memorias-content ">
      <ion-grid>
        <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
        <ion-row class="most-read-row">
          <ion-col col-10>
            <!-- <span class="current-class"> -->
            <!-- {{artigo.tipo_artigo_nome}} -->
            <!-- ORIGINAL ARTICLE -->
            <!-- </span> -->

            <span class="mc-title" [innerHTML]="artigo.artigo_nome"></span>

            <!-- <span class="mc-autors" [innerHTML]="artigo.autores"></span> -->

            <span class="mc-doi" [innerHTML]="'DOI:'+ artigo.doi"></span>

          </ion-col>
          <ion-col col-2>
            <article>
              <!-- <ion-icon class="mc-icon" isActive="false" name="custom-favorite"></ion-icon> -->
              <ion-icon class="mc-icon" isActive="false" name="custom-trash" (click)="removerArticle($event,artigo.id)"></ion-icon>
            </article>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

  </section>
  <!-- CONTEÚDO DO CARD MOST READ -->
</ion-content>