page-favorite {


    // Correção dos bugs das palavras ficarem como bloco flutuante
    .card-memorias ~ b,em,i,sup,sub,small,strong{
        display: contents;
        }

  // CONTEÚDO DO CARD MEMORIAS
  .card-memorias-content  ion-grid{
    // background-color: #fff;
    padding: 0;   
  }
  .card-memorias-content  ion-grid ion-row{
      background-color: #fff;
      padding: 15px;
      border-bottom: 2px solid rgba(0,0,0,0.1);

  }
  .card-memorias-content  ion-grid ion-row:last-of-type{
    border-bottom: none;
  }
  .card-memorias-content  ion-grid ion-row:hover{
      background-color:#f2f2f2;
  }
  .card-memorias-content  ion-grid ion-row ion-col{

  }
  .card-memorias-content  ion-grid ion-row ion-col .current-class{
      display: flex;
      font-size: .6em;
      color: #bfbfbf;
      text-transform: uppercase;
      // font-weight: 600;
      margin-bottom: 5px;
  }
  .card-memorias-content  ion-grid ion-row ion-col .mc-title{
      display: flex;
      color: #1b7f7d;
      font-weight: 700;
      font-size: 1em;
      margin-bottom: 5px;
  }
  .card-memorias-content  ion-grid ion-row ion-col .mc-autors{
      display: flex;
      color: #222;
      font-size: 0.95em;
      margin-bottom: 5px;
  }
  .card-memorias-content  ion-grid ion-row ion-col .mc-doi{
      display: flex;
      color: #1b7f7d;
      font-weight: 700;
      font-size: 1em;
  }
  .card-memorias-content  ion-grid ion-row ion-col article{
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  .card-memorias-content  ion-grid ion-row ion-col article .mc-icon{
      width: 100%;
      text-align: center;
      color: rgba(0,0,0,0.5);
      font-size: 1.8em;
      margin-top: 10px;
  }


  //*********************** Most Read *********************//
  .memorias-content .card-memorias-content ion-grid .most-read-row{
    border-top: none;
  }
  .memorias-content .card-memorias-content ion-grid .most-read-row:last-of-type{
    border-top: 2px solid rgba(0,0,0,0.1);
  }

  #most-read .more-content{
    background-color: #1b7f7d;
    color: #f2f2f2;
    text-align: center;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
  }
  #most-read .more-content ion-icon{
    font-size: 2em;
  }
}
