   <!-- ****************************  MOST READ ************************ -->
   <ion-slide id="most-read">

    <!-- CONTEÚDO DO CARD MOST READ -->
    <!-- [hidden]="i>4" -->
    <section class="memorias-content" *ngFor="let mostread of dadosMostRead.dados; let i = index" 
      (click)="sharedProvider?.goToArticlePage(mostread.id);">

      <div class="card-memorias-content ">
        <ion-grid>
          <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
          <ion-row class="most-read-row">
            <ion-col col-10>
              <!-- <span class="current-class"> -->
              <!-- {{artigo.tipo_artigo_nome}} -->
              <!-- ORIGINAL ARTICLE -->
              <!-- </span> -->
              <span class="mc-title" [innerHTML]="mostread.artigo_nome">
                <!-- {{artigo.artigo_nome}} -->
                <!-- {{mostread.artigo_nome}}  -->
              </span>
              <span class="mc-autors" [innerHTML]="mostread.autores">
                <!-- {{artigo.autores}} -->
                <!-- {{mostread.autores}} -->
              </span>
              <span class="mc-doi" [innerHTML]="'DOI: '+ mostread.doi">
                <!-- DOI: {{mostread.doi}} -->
                <!-- {{artigo.doi}} -->
              </span>
            </ion-col>
            <ion-col col-2>
              <article>
                <icon-favorite-toogle [articleId]="mostread.id"></icon-favorite-toogle>
                <!-- <ion-icon class="mc-icon" isActive="false" name="star"></ion-icon>
                <ion-icon class="mc-icon" isActive="false" name="trash"></ion-icon> -->
              </article>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>

    </section>
    <!-- CONTEÚDO DO CARD MOST READ -->



    <!-- <section class="more-content" (click)="viewAllMostRead();" id='bt_viewAllMostRead' full>
      View All
      <br />
      <ion-icon name="ios-arrow-down"></ion-icon>
    </section> -->
  </ion-slide>
  <!-- **************************** FIM  MOST READ ************************ -->