page-category {

    // Card Memórias
    .card-memorias{
        box-shadow: unset !important;
        margin: 0;
        
    }
    
      // Correção dos bugs das palavras ficarem como bloco flutuante
      .card-memorias ~ b,em,i,sup,sub,small,strong{
      display: contents;
      }
      
    
    // TOPO DO CARD MEMORIAS
    .card-memorias .memorias-head{
        background-color: #eaf3f2 !important;
        border-left: solid 7px #1b7f7d;
        display: flex;
        font-size: 1em;
        padding: 10px;
        font-family: "Open Sans Condensed","Lucida Sans",sans-serif !important;
        text-transform: uppercase;
        font-weight: 700;
        justify-content: space-between;
        text-align: left;
        margin-top: 4px;
        height: unset !important;
        color: #1b7f7d;
    }
    .card-memorias .memorias-head[aria-expanded=true]{
      color: #000;
    }
    .card-memorias .memorias-head[aria-expanded=true] .mat-content a{
        border: solid 2px #000;
    }
    .card-memorias .memorias-head[aria-expanded=true] .mat-content a ion-icon{
        color: #000;
    }
    .card-memorias .memorias-head[aria-expanded=true] .mat-content a .ion-md-add:before{
      content: "\f368";
    }
    .card-memorias .mat-expansion-panel-content .mat-expansion-panel-body{
      padding: 0;
    }
    .card-memorias .memorias-head .mat-content{
        justify-content: space-between;
    }
    .card-memorias .memorias-head header{
    
    }
    .card-memorias .memorias-head .mat-expansion-indicator{
        display: none;
    }
    .card-memorias .memorias-head a{
        padding: 0px;
        border: solid 2px #1b7f7d;
        width: 20px;
        height: 20px;
        display: flex;
        
    }
    .card-memorias .memorias-head a ion-icon{
        margin: 0 auto;
        color: #1b7f7d;
    }
    
    // CONTEÚDO DO CARD MEMORIAS
    .card-memorias-content  ion-grid{
        // background-color: #fff;
        padding: 0;   
    }
    .card-memorias-content  ion-grid ion-row{
        background-color: #fff;
        padding: 15px;
        border-bottom: 2px solid rgba(0,0,0,0.1);
    
    }
    .card-memorias-content  ion-grid ion-row:last-of-type{
      border-bottom: none;
    }
    .card-memorias-content  ion-grid ion-row:hover{
        background-color:#f2f2f2;
    }
    .card-memorias-content  ion-grid ion-row ion-col{
    
    }
    .card-memorias-content  ion-grid ion-row ion-col .current-class{
        display: flex;
        font-size: .8em;
        color: #bfbfbf;
        text-transform: uppercase;
        // font-weight: 600;
        margin-bottom: 5px;
    }
    .card-memorias-content  ion-grid ion-row ion-col .mc-title{
        display: flex;
        color: #1b7f7d;
        font-weight: 700;
        font-size: .95em;
        margin-bottom: 5px;
    }
    .card-memorias-content  ion-grid ion-row ion-col .mc-autors{
        display: flex;
        color: #222;
        font-size: .9em;
        margin-bottom: 5px;
    }
    .card-memorias-content  ion-grid ion-row ion-col .mc-doi{
        display: flex;
        color: #1b7f7d;
        font-weight: 700;
        font-size: .95em;
    }
    .card-memorias-content  ion-grid ion-row ion-col article{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .card-memorias-content  ion-grid ion-row ion-col article .mc-icon{
        width: 100%;
        text-align: center;
        color: rgba(0,0,0,0.5);
        font-size: 1.8em;
        margin-top: 10px;
    }
      
      // ***********Current Issue***************
      .volume{
        //   padding:10px 0;
        // padding: 0;
      }
      .volume ion-row{
    
      }
      .volume ion-row ion-col{
          padding: 0 10px;
      }
      .volume ion-row ion-col .img-volume img{
          border: solid 3px #eaf3f2;
      }
      .volume ion-row ion-col .title-volume{
          font-size: 1.2em;
          font-weight: 700;
          text-transform: uppercase;
          color: #1b7f7d;
          line-height: 1em;
          display: block;
          margin-bottom: 5px;
      }
      .volume ion-row ion-col .title-volume small{
          display: block;
          color: #222;
          font-weight: 400;
          width: 100%;
      }
      .volume ion-row ion-col .description-volume{
          font-size: .8em;
          color: #999;
          line-height: 1.2em;
          display: block;
          margin-bottom: 5px;
      }
      .volume ion-row ion-col #subrow-volume ion-col .download-info{
          align-items: center;
          justify-content: space-evenly;
          border-left: solid 2px #e6e6e6;
          display: flex;
          padding: 2px;
      }
      .volume ion-row ion-col #subrow-volume ion-col .artigos{
          font-size: .8em;
          color: #1b7f7d;
          text-align: right;
          font-weight: 600;
      }
    
      #navbar-details .slick-active{
          color: #1b7f7d;
        
      }
    
}
