<!--************************* Ahead of Print ****************************-->
<ion-slide id="aheadofprint">

  <ion-card *ngIf="dadosAheadOfPrint.dados == undefined">Nothing to display at Ahead Print</ion-card>


  <!-- INICIA A LISTAGEM DOS EXPANSION PANEL(OS ACCORDION) -->
  <mat-accordion id="ahead" multi="true">
    <!-- INICIO DE UM CARD EXPANSIVEL -->
    <mat-expansion-panel class="card-memorias" *ngFor="let tipoArtigo of dadosAheadOfPrint.dados" [expanded]="expandedAll">

      <mat-expansion-panel-header expandedHeight="unset" collapsedHeight="unset" class="memorias-head">



        <header>
          {{tipoArtigo.tipo_nome}}
        </header>

        <a href="#">
          <ion-icon name="add"></ion-icon>
        </a>
      </mat-expansion-panel-header>

      <!-- CONTEÚDO DO CARD MEMORIA PANEL -->
      <section class="memorias-content">

        <div class="card-memorias-content">
          <ion-grid>
            <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE | REPETIR -->
            <ion-row *ngFor="let artigo of tipoArtigo.artigos" (click)="sharedProvider?.goToArticlePage(artigo.id);">
              <ion-col col-10>
                <span class="current-class" [innerHTML]="artigo.tipo_artigo_nome">
                  <!-- {{artigo.tipo_artigo_nome}} -->
                </span>

                <span class="mc-title" [innerHTML]="artigo.artigo_nome">
                  <!-- {{artigo.artigo_nome}} -->
                </span>

                <span class="mc-autors" [innerHTML]="artigo.autores">
                  <!-- {{artigo.autores}} -->
                </span>

                <span class="mc-doi" [innerHTML]="artigo.doi">
                  <!-- {{artigo.doi}} -->
                </span>
              </ion-col>

              <ion-col col-2>
                <article>
                  <icon-favorite-toogle [articleId]="artigo.id"></icon-favorite-toogle>
                  <!-- <ion-icon class="mc-icon" isActive="false" name="star"></ion-icon>
              <ion-icon class="mc-icon" isActive="false" name="trash"></ion-icon> -->
                </article>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>

      </section>

    </mat-expansion-panel>
    <!-- FIM DO CARD EXPANSION -->

  </mat-accordion>
  <!-- FIM DA LISTAGEM DO EXPANSION PANEL -->

</ion-slide>
<!--********************** Fim Ahead of Print *****************************-->