<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>

</ion-header>


<ion-content>

    <ion-toolbar class="memoriasboard-toolbar">
      Recent Posts
    </ion-toolbar>

 <!-- CONTEÚDO DO CARD MOST READ -->
 <section class="memorias-content" *ngFor="let mostread of dadosMostRead.dados; let i = index" [hidden]="i>4" (click)="sharedProvider?.goToArticlePage(mostread.id);">

    <div class="card-memorias-content ">
      <ion-grid>
        <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
        <ion-row class="most-read-row">
          <ion-col col-10>
            <!-- <span class="current-class"> -->
            <!-- {{artigo.tipo_artigo_nome}} -->
            <!-- ORIGINAL ARTICLE -->
            <!-- </span> -->
            <span class="mc-title">
              <!-- {{artigo.artigo_nome}} -->
              {{mostread.artigo_nome}} Melanin particles isolated from the fungus Fonsecaea pedrosoi activates the
              human complement system
            </span>
            <span class="mc-autors">
              <!-- {{artigo.autores}} -->
              {{mostread.autores}}
            </span>
            <span class="mc-doi">
              DOI: {{mostread.doi}}
              <!-- {{artigo.doi}} -->
            </span>
          </ion-col>
          <ion-col col-2>
            <article>
              <ion-icon class="mc-icon" isActive="false" name="custom-favorite"></ion-icon>
              <ion-icon class="mc-icon" isActive="false" name="custom-trash"></ion-icon>
            </article>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

  </section>
  <!-- CONTEÚDO DO CARD MOST READ -->
</ion-content>
