<!--************************* Current Issue *******************************-->
<ion-slide id="currentissue">
  <!-- GRID DO VOLUME ATUAL-->
  <ion-grid class="volume">
    <!-- LINHA PRINCIPAL -->
    <ion-row>

      <!-- PRIMEIRA COLUNA(FOTO) -->
      <ion-col col-4>
        <section class="img-volume">
          <img src="{{dadosCurrentIssue.categoria?.imagem}}">
          <!--Nao remover OPERADOR "?", ele impoe uso do if(varExiste) no carregamento do template e Evita erro no compilador. -->
        </section>
      </ion-col>
      <!-- FIM PRIMEIRA COLUNA -->

      <!-- SEGUNDA COLUNA(DADOS) -->
      <ion-col col-8>
        <span class="title-volume" [innerHTML]="dadosCurrentIssue?.titulo + '<small>' + dadosCurrentIssue.categoria?.nome + '</small>'"></span>
        
        <span class="description-volume" [innerHTML]="dadosCurrentIssue.categoria?.descricao">
          <!-- {{dadosCurrentIssue.categoria?.descricao}} -->
        </span>

        <!-- SUB LINHA DA SEGUNDA COLUNA -->
        <ion-row id="subrow-volume">

          <!-- Star Icon -->
          <ion-col col-4>
            <ion-icon name="custom-favorite" isActive="false"></ion-icon>
            <span>{{total_favoritos}}</span>
          </ion-col>

          <ion-col col-8>
            <div class="download-info">
              <span class="artigos">
                0 of {{dadosCurrentIssue?.total}} articles
                <br>(0.00 KB)
              </span>
              <ion-icon isActive="false" name="cloud-download"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <!-- FIM DA SUB LINHA DA SEGUNDA COLUNA -->
      </ion-col>
      <!-- FIM SEGUNDA COLUNA -->
    </ion-row>
    <!-- FIM DA LINHA PRINCIPAL -->
  </ion-grid>
  <!-- FIM DO VOLUME -->

  <!-- INICIA A LISTAGEM DOS EXPANSION PANEL(OS ACCORDION) -->
  <mat-accordion multi="true">
    <!-- INICIO DE UM CARD EXPANSIVEL -->
    <mat-expansion-panel class="card-memorias" *ngFor="let tipoArtigo of dadosCurrentIssue?.dados; let i = index"
      (opened)="setStep(i)" [expanded]="expandedAll">

      <mat-expansion-panel-header expandedHeight="unset" collapsedHeight="unset" class="memorias-head">

        <header [innerHTML]="tipoArtigo.tipo_nome">
          <!-- {{tipoArtigo.tipo_nome}} -->
        </header>

        <a href="#">
          <ion-icon name="add"></ion-icon>
        </a>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <!-- CONTEÚDO DO CARD MEMORIA PANEL -->
        <section class="memorias-content">

          <div class="card-memorias-content">
            <ion-grid class="volume">
              <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
              <ion-row *ngFor="let artigo of tipoArtigo?.artigos" (click)="sharedProvider?.goToArticlePage(artigo.id);">
                <ion-col col-10>
                  <span class="current-class" [innerHTML]="artigo.tipo_artigo_nome">
                    <!-- {{artigo.tipo_artigo_nome}} -->
                  </span>
                  <span class="mc-title" [innerHTML]="artigo.artigo_nome">
                    <!-- {{artigo.artigo_nome}} -->
                  </span>
                  <span class="mc-autors" [innerHTML]="artigo.autores">
                    <!-- {{artigo.autores}} -->
                  </span>
                  <span class="mc-doi" [innerHTML]="'DOI: '+artigo.doi">
                    <!-- {{artigo.doi}} -->
                  </span>
                </ion-col>
                <ion-col col-2>
                  <article>

                    <icon-favorite-toogle [articleId]="artigo.id"></icon-favorite-toogle>

                    <!-- {{favoriteStorage?.isFavorite(artigo.id)}} -->
                    <!-- [isActive]="favoriteStorage.isFavorite(artigo.id)" -->
                    <!-- (click)="favoritarToogle($event,artigo.id)" -->
                    <!-- <ion-icon class="mc-icon" name="custom-favorite" *ngIf="!favoriteStorage.isFavorite(artigo.id)" (click)="favoritarToogle($event,artigo.id)"></ion-icon> -->

                    <!-- isActive="false" -->
                    <!-- <ion-icon class="mc-icon" isActive="false" name="trash" *ngIf="favoriteStorage.isFavorite(artigo.id)" (click)="favoritarToogle($event,artigo.id)"></ion-icon> -->
                  </article>
                </ion-col>
              </ion-row>

            </ion-grid>
          </div>

        </section>
      </ng-template>



    </mat-expansion-panel>
    <!-- FIM DO CARD EXPANSION -->
  </mat-accordion>
  <!-- FIM DA LISTAGEM DO EXPANSION PANEL -->
</ion-slide>
<!--************************ Fim Corrent Issue ****************************-->