slide-fast-track {
    #texto-fasttrack{
        display: none;
        background-color: #fff;
        margin: 10px;
        font-size: 0.6em;
        font-family: $fontPadrao;
        position: relative;
        top: -230px;
        transition: 0.5s;
    }
}
