<!-- **************************************** FAST TRACK ************************************* -->
<ion-slide id="fast-track">
    <section id="texto-fasttrack">
        Memórias do Instituto Oswaldo Cruz
        (MIOC) launched the Fast Track system,
        in alignment with the call for data sharing
        in public health emergencies made by the
        WHO. MIOC has thus published papers
        related to the Zika epidemics, articles
        related to Chikungunya, Yellow Fever and
        Ebola. An Editor will evaluate all
        research’s manuscripts on these subjects
        submitted to MIOC and those considered
        relevant will be assigned a digital object
        identifier and posted online in the “Fast
        Track” section of the Website within 24
        hours. At the same time, manuscripts will
        be evaluated by peer review. Data in
        these manuscripts will thus be attributed
        to the authors while being freely
        available for reader scrutiny and
        unrestricted use, distribution and
        reproduction provided that the original
        work is properly cited as indicated by the
        Creative Commons Attribution license
        (CC BY).
    </section>

  <!-- INICIA A LISTAGEM DOS EXPANSION PANEL(OS ACCORDION) -->
  <mat-accordion id="ahead" multi="true">

    <!-- INICIO DE UM CARD EXPANSIVEL -->
    <mat-expansion-panel class="card-memorias" [expanded]="expandedAll">

      <mat-expansion-panel-header expandedHeight="unset" collapsedHeight="unset" class="memorias-head">

        <header>
          UNDER REVIEW
        </header>

        <a href="#">
          <ion-icon name="add"></ion-icon>
        </a>

      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>

        <!-- CONTEÚDO DO CARD MEMORIA PANEL -->
        <section class="memorias-content">

          <div class="card-memorias-content">
            <ion-grid>
              <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE | REPETIR -->
              <ion-row *ngFor="let artigo of dadosFastTrack?.publicado" (click)="sharedProvider?.goToArticlePage(artigo.id);">
                <!-- Operador `?` faz verificacao de existencia do objeto instanciado. Se remover Gerar erro de compilacao -->
                <ion-col col-10>
                  <span class="current-class">
                    <!-- tipo-artigo-nome -->
                    {{artigo.tipo_artigo_nome}}
                  </span>
                  <span class="mc-title">
                    <!-- artigo-nome -->
                    {{artigo.artigo_nome}}
                  </span>
                  <span class="mc-autors">
                    <!-- artigo.autores -->
                    {{artigo.autores}}
                  </span>
                  <span class="mc-doi">
                    <!-- artigo.doi -->
                    {{artigo.doi}}
                  </span>
                </ion-col>
                <ion-col col-2>
                  <article>
                    <icon-favorite-toogle [articleId]="artigo.id"></icon-favorite-toogle>
                    <!-- <ion-icon class="mc-icon" isActive="false" name="custom-favorite"></ion-icon>
                  <ion-icon class="mc-icon" isActive="false" name="custom-trash"></ion-icon> -->
                  </article>
                </ion-col>
              </ion-row>

            </ion-grid>
          </div>

        </section>

      </ng-template>

    </mat-expansion-panel>
    <!-- FIM DO CARD EXPANSION -->


    <!-- NÃO REPETIR ESSE EXPANSION PANEL, APENAS O CONTEÚDO(ION-ROW) -->
    <!-- INICIO DE UM CARD EXPANSIVEL -->
    <mat-expansion-panel class="card-memorias" [expanded]="expandedAll">

      <mat-expansion-panel-header expandedHeight="unset" collapsedHeight="unset" class="memorias-head">

        <header>
          NOT PUBLISHED
        </header>

        <a href="#">
          <ion-icon name="add"></ion-icon>
        </a>
      </mat-expansion-panel-header>

      <!-- CONTEÚDO DO CARD MEMORIA PANEL -->
      <section class="memorias-content">

        <div class="card-memorias-content">

          <ion-grid>

            <!-- **REPETIR AQUI** -->
            <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE | REPETIR -->
            <ion-row class="ftRow" *ngFor="let artigo of dadosFastTrack?.nao_publicado">
              <!-- Operador `?` faz verificacao de existencia do objeto instanciado. Se remover Gerar erro de compilacao -->
              <ion-col col-10>
                <span class="mc-title">
                  {{artigo.artigo_nome}}
                </span>
                <span class="mc-doi">
                  {{artigo.doi}}
                </span>
              </ion-col>
            </ion-row>
            <!-- **FIM DA REPETIÇÃO** -->

          </ion-grid>
        </div>

      </section>

    </mat-expansion-panel>
    <!-- FIM DO CARD EXPANSION -->

  </mat-accordion>
  <!-- FIM DA LISTAGEM DO EXPANSION PANEL -->

</ion-slide>
<!-- **************************************** FIM TRACK ************************************* -->