<!--
  Generated template for the RevistasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>
  
</ion-header>


<ion-content class="revistas">

  

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card class="revistascards">
          <img src="assets/imgs/revista.jpg" height="150px">
          <ion-card-header>
            <article>
              The Lancet Oncology
            </article>
            <!-- [class.active]="1==1" -->
            <ion-icon name="heart" (click)="toogleClassHeart($event,el)" [class.active]="heartActive"></ion-icon>
            <section>
              Aug 25, 2018 Vol. 19
            </section>
          </ion-card-header>
        </ion-card>
      </ion-col>



      <ion-col>
        <ion-card class="revistascards">
          <img src="assets/imgs/revista.jpg" height="150px">
          <ion-card-header>
            <article>
              The Lancet Oncology
            </article>
            <ion-icon name="heart" class="active1"></ion-icon>
            <section>
              Aug 25, 2018 Vol. 19
            </section>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row><!-- Fim da linha -->


    <ion-row>
      <ion-col>
        <ion-card class="revistascards">
          <img src="assets/imgs/revista.jpg" height="150px">
          <ion-card-header>
            <article>
              The Lancet Oncology
            </article>
            <ion-icon name="heart-outline"></ion-icon>
            <section>
              Aug 25, 2018 Vol. 19
            </section>
          </ion-card-header>
        </ion-card>
      </ion-col>



      <ion-col>
        <ion-card class="revistascards">
          <img src="assets/imgs/revista.jpg" height="150px">
          <ion-card-header>
            <article>
              The Lancet Oncology
            </article>
            <ion-icon name="heart" class="active1"></ion-icon>
            <section>
              Aug 25, 2018 Vol. 19
            </section>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row><!-- Fim da linha -->

  </ion-grid>
</ion-content>