page-revistas {
    .revistas{
        // $backgroundAlternativo: rgb(0,0,255);
        background-color:$backgroundAlternativo; 
        // background-color: aqua;
    }

    .revistascards{
        margin: 3px;
        // max-height: 235px;
        width: calc(100% - 6px);
    }
    .revistascards img{
        padding: 10px;
    }
    .revistascards ion-card-header{
        white-space: normal;
        padding: 8px;
    }
    .revistascards ion-card-header article{
        // white-space: normal;
        width: 75%;
        float: left;
        font-size: 12px;
    }
    .revistascards ion-card-header ion-icon{
        float: left;
        width: 25%;
        color: rgba(128,128,128,1.0);
        position:absolute;
    }
    .revistascards ion-card-header ion-icon.active{
        color: rgb(255, 0, 0);
        position: absolute;
        -webkit-animation: coracao 1s ease-in-out reverse;
    }
    .revistascards ion-card-header section{
        // white-space: normal;
        width: 100%;
        margin-top: 15px;
        float: left;
        font-size: 10px;
        color: rgba(128,128,128,1.0);
    }

    @-webkit-keyframes coracao{
        50%{
            
            align-content: center;
            color: rgba(128,128,128,1.0);
        }
        100%{
            font-size: 30px;
            color: rgb(255, 0, 0);
        }

    }
}
