<!--
  Generated template for the ArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>
</ion-header>

<section id="popover"> 
    <div id="popover-center">
      <ion-icon name="custom-close" (click)="closepopover()"></ion-icon>
      <h2>Reference</h2>
      <p [innerHTML]="text_ref"></p>
      <div *ngIf="links_ref.length > 0">
        <!-- <h2>External Links</h2> -->
        <a *ngFor="let link of links_ref; index as i" href="{{link.url}}">{{link.nome}}</a>
      </div>  
      <!-- <section class="btn-popover" (click)="closepopover()"> X </section> -->
    </div>  
</section>


<ion-content>

  <article *ngIf="isLoading"><!-- PRINCIPAL CONTEUDO ENTRE O HEADER E O FOOTER -->
    <div class="artigo">
      <!-- ARTIGO SEM UTILIDADE A PRINCÍPIO -->
      <article>
        <!-- CABEÇALHO DO ARTIGO -->
        <section class="artigo-head">

          <h2 class="textogrande" [innerHTML]="post?.nome"></h2>

          <!-- textopequeno -->
          <p class="dataPost  " [innerHTML]="post?.data"></p>
          
        </section>
        <!-- FIM CABEÇALHO DO ARTIGO -->

        <!-- COMEÇO DO CORPO DO ARTIGO -->
        <section class="artigo-body">

          <!-- <h2 class="text-uppercase" *ngIf="post?.conteudo">Materials and methods</h2> -->
          <p id="testando123" class="textomedio" [innerHTML]="post?.conteudo | safeHtml" #conteudo>
          </p>


          <style>
            .references .reference:not(:last-child) {
              margin-top: 10px;
              font-family: "Open Sans", sans-serif;
              border-bottom: solid 1px #ddd;
              padding: 10px 0 20px;
            }

            .references .reference:last-child {
              margin-top: 10px;
              font-family: "Open Sans", sans-serif;
              padding: 10px 0 20px;
            }

            .references span.number {
              font-weight: bold;
            }

            .links-reference a {
              text-decoration: none;
              color: #357E7E;
              font-size: 12px;
              font-weight: bold;
            }
          </style>

        </section>
        <!-- FIM DO CORPO DO ARTIGO -->
      </article>
    </div>
    <!-- FIM DO PRINCIPAL CONTEÚDO ENTRE O HEADER E O FOOTER -->
  </article>
</ion-content>

<!-- TOOLBAR FOOTER -->
<ion-footer id="article-footer">
    <section id="fontsize">
        <ion-range (ionChange)="controlSize()" min="0" max="4" step="1" snaps="true" [(ngModel)]="fontsize" color="light">
          <ion-icon range-left small color="light" name="custom-fontsize"></ion-icon>
          <ion-icon range-right color="light" name="custom-fontsize"></ion-icon>
        </ion-range>
      </section>
    
      <!-- </section> -->
      <section id="correspondente">
        <article class="corresp-title">
          Corresponding Author
        </article>
        <article class="corresp-author" [innerHTML]="article?.autor_correspondente">
      
        </article>
      </section>

 
  <ion-toolbar id="toolbar">
    <ul *ngIf="isLoading">
      
      <li>
        <ion-icon name="custom-fontsize" (click)="verificacao('fontsize');"></ion-icon>
      </li>
      
    </ul>
  </ion-toolbar>
</ion-footer>
<!-- FIM TOOLBAR FOOTER -->