// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{
    font-family: "Open Sans","Lucida Sans", sans-serif;
}

    // Correção dos bugs das palavras ficarem como bloco flutuante
    .card-memorias ~ b,em,i,sup,sub,small,strong{
        display: contents;
        }

$fontPadrao: "Open Sans","Lucida Sans", sans-serif;

//Fonte importada do google
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// @import url('https://necolas.github.io/normalize.css/8.0.0/normalize.css');





// Custom icons for this layout app //
ion-icon{

    $path_font: '../assets/icons/';

    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="custom-fontsize"]{
        mask-image: url($path_font + 'font-size.svg');
    }
    &[class*="custom-pdf"]{
        mask-image: url($path_font + 'pdf-file.svg');
    }    
    &[class*="custom-share"]{
        mask-image: url($path_font + 'share.svg');
    }   
    &[class*="custom-quote"]{
        mask-image: url($path_font + 'quote-right.svg');
    }
    &[class*="custom-favorite"]{
        mask-image: url($path_font + 'star.svg');
    }
    &[class*="custom-favoritefull"]{
        mask-image: url($path_font + 'starf.svg');
    }
    &[class*="custom-twitter"]{
        mask-image: url($path_font + 'twitter.svg');
    }
    &[class*="custom-facebook"]{
        mask-image: url($path_font + 'facebook.svg');
    }
    &[class*="custom-file"]{
        mask-image: url($path_font + 'file.svg');
    }
    &[class*="custom-compass"]{
        mask-image: url($path_font + 'compass.svg');
    }
    &[class*="custom-search"]{
        mask-image: url($path_font + 'search.svg');
    }    
    &[class*="custom-trash"]{
        mask-image: url($path_font + 'trash.svg');
    }    
    &[class*="custom-download"]{
        mask-image: url($path_font + 'download-cloud.svg');
    }    
    &[class*="custom-editorial"]{
        mask-image: url($path_font + 'editorial_policy.svg');
    }    
    &[class*="custom-close"]{
        mask-image: url($path_font + 'close.svg');
    }
    &[class*="custom-envelope"]{
        mask-image: url($path_font + 'envelope.svg');
    }
    &[class*="custom-memorias-board"]{
        mask-image: url($path_font + 'memorias_board.svg');
    }
    &[class*="custom-newsearch"]{
        mask-image: url($path_font + 'new_search.svg');
    }
}

        
//******** fim custom icons ************//



.text-uppercase{
    text-transform: uppercase !important;
}


//disable icon
.disable-color{
    color: #c2c2c2 !important;
}


// TEXTO UPPERCASE
.btn-rounded{
    border-radius: 100px;
    margin-right: 10px;
}
.btn-small{
    padding: 0.8rem 1.0rem;
}


$backgroundAlternativo: #FAFAFA;
$toolbarBackgroundColor: #1b7f7d;


    ion-navbar.toolbar div.toolbar-background{
        background-color: $toolbarBackgroundColor;
    }

    ion-navbar.toolbar ion-title{
        text-align: center;
        text-transform: uppercase;  
        font-family: -webkit-pictograph;
        letter-spacing: 4px;
    }

    // logo navbar
    ion-navbar.logo{
        padding: 10px 0;
    }
    ion-navbar img{
        height: 40px;
        display: block;
        margin: 0 auto;
    }