slide-recent-posts {
    // #navbar-details{

        // }
        // #navbar-details div{
        //     width: 150%;
            
        // }
        // #navbar-details ion-tab{
        //     height:calc(100% - 41px);
        // }
        // ion-slides{
        //     // height:calc(100% - 41px);
        //     // height: max-content;
        // }



        #texto-fasttrack{
            display: none;
            background-color: #fff;
            margin: 10px;
            font-size: 0.8em;
            font-family: $fontPadrao;
            position: relative;
            top: -230px;
            transition: 0.5s;
        }

        // Menu de navegações as páginas
        #navbar-details{
        display: block;
        width: 100%;
        overflow-x: scroll;
        background-color: #f2f2f2;
    }
    #navbar-details div{
        width: max-content;
        padding: 10px 0;
        font-family: "Open Sans","Lucida Sans", sans-serif;
        //   width: 300%;
    }
    #navbar-details div article{
        color: rgba(0,0,0,0.4);
        padding: 0 10px;
        font-size: 1em;
        font-weight: 600;
        color: rgba(0,0,0,0.4);
        display: inline-block;
    }

    // AJUSTAR TAMANHO SLIDE
    ion-content .scroll-content{
        margin-top: 124px;
    }

    // Ahead Of Print(tela)
    ion-content .scroll-content ion-slides #aheadofprint{
        // height: 100%;
    }
    ion-content .scroll-content ion-slides #currentissue{
        min-height: 100%;
        max-height: max-content;
    }


    // Descentralizar o slide
    ion-content .scroll-content ion-slides div .swiper-wrapper .swiper-slide{
        align-items: normal;
        height: 100%;
        overflow-y: scroll;
    }
    ion-content .scroll-content ion-slides div .swiper-wrapper .swiper-slide .slide-zoom{
        text-align: left;
    }
    
    //cards Ahead of Print
    .card-expansion-all{
        // width: 100%;
        // margin: 0;
        background-color: #1b7f7d;
        color: #f2f2f2
    }
    .card-expansion-all article{
        font-size: 0.9em;
        padding: 5px;
    }
    .card-expansion-all a{
        float: right;
        margin-right: 5px;
        text-decoration: underline;
        color: #f2f2f2;
    }


    // Card Memórias
    .card-memorias{
        box-shadow: unset !important;
        margin: 0;
        
    }

        // Correção dos bugs das palavras ficarem como bloco flutuante
        .card-memorias ~ b,em,i,sup,sub,small,strong{
        display: contents;
        }
        

    // TOPO DO CARD MEMORIAS
    .card-memorias .memorias-head{
        background-color: #eaf3f2 !important;
        border-left: solid 7px #1b7f7d;
        display: flex;
        font-size: 0.8em;
        padding: 10px;
        font-family: "Open Sans Condensed","Lucida Sans",sans-serif !important;
        text-transform: uppercase;
        font-weight: 700;
        justify-content: space-between;
        text-align: left;
        margin-top: 4px;
        height: unset !important;
        color: #1b7f7d;
    }
    .card-memorias .memorias-head[aria-expanded=true]{
        color: #000;
    }
    .card-memorias .memorias-head[aria-expanded=true] .mat-content a{
        border: solid 2px #000;
    }
    .card-memorias .memorias-head[aria-expanded=true] .mat-content a ion-icon{
        color: #000;
    }
    .card-memorias .memorias-head[aria-expanded=true] .mat-content a .ion-md-add:before{
        content: "\f368";
    }
    .card-memorias .mat-expansion-panel-content .mat-expansion-panel-body{
        padding: 0;
    }
    .card-memorias .memorias-head .mat-content{
        justify-content: space-between;
    }
    .card-memorias .memorias-head header{

    }
    .card-memorias .memorias-head .mat-expansion-indicator{
        display: none;
    }
    .card-memorias .memorias-head a{
        padding: 0px;
        border: solid 2px #1b7f7d;
        width: 20px;
        height: 20px;
        display: flex;
        
    }
    .card-memorias .memorias-head a ion-icon{
        margin: 0 auto;
        color: #1b7f7d;
    }

    // CONTEÚDO DO CARD MEMORIAS
    .card-memorias-content  ion-grid{
        // background-color: #fff;
        padding: 0;   
    }
    .card-memorias-content  ion-grid ion-row{
        background-color: #fff;
        padding: 15px;
        border-bottom: 2px solid rgba(0,0,0,0.1);

    }
    .card-memorias-content  ion-grid ion-row:last-of-type{
        border-bottom: none;
    }
    .card-memorias-content  ion-grid ion-row:hover{
        background-color:#f2f2f2;
    }
    .card-memorias-content  ion-grid ion-row ion-col{

    }
    .card-memorias-content  ion-grid ion-row ion-col .current-class{
        display: flex;
        font-size: .6em;
        color: #bfbfbf;
        text-transform: uppercase;
        // font-weight: 600;
        margin-bottom: 5px;
    }
    .card-memorias-content  ion-grid ion-row ion-col .mc-title{
        display: flex;
        color: #1b7f7d;
        font-weight: 700;
        font-size: .75em;
        margin-bottom: 5px;
    }
    .card-memorias-content  ion-grid ion-row ion-col .mc-autors{
        display: flex;
        color: #222;
        font-size: .7em;
        margin-bottom: 5px;
    }
    .card-memorias-content  ion-grid ion-row ion-col .mc-doi{
        display: flex;
        color: #1b7f7d;
        font-weight: 700;
        font-size: .75em;
    }
    .card-memorias-content  ion-grid ion-row ion-col article{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .card-memorias-content  ion-grid ion-row ion-col article .mc-icon{
        width: 100%;
        text-align: center;
        color: rgba(0,0,0,0.5);
        font-size: 1.4em;
        margin-top: 10px;
    }




    // ***********Current Issue***************
    #currentissue{

    }
    #currentissue .volume{
        //   padding:10px 0;
        // padding: 0;
    }
    #currentissue .volume ion-row{

    }
    #currentissue .volume ion-row ion-col:last-of-type{
        padding-left: 0;
    }
    #currentissue .volume ion-row ion-col{
        padding: 0 10px;
    }
    #currentissue .volume ion-row ion-col .img-volume img{
        border: solid 3px #eaf3f2;
    }
    #currentissue .volume ion-row ion-col .title-volume{
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        color: #1b7f7d;
        line-height: 1em;
        display: block;
        margin-bottom: 5px;
    }
    #currentissue .volume ion-row ion-col .title-volume small{
        display: block;
        color: #222;
        font-weight: 400;
        width: 100%;
    }
    #currentissue .volume ion-row ion-col .description-volume{
        font-size: .6em;
        color: #999;
        line-height: 1.2em;
        display: block;
        margin-bottom: 5px;
    }
    #currentissue .volume ion-row ion-col #subrow-volume ion-col ion-icon{
        display: block;
        float: left;
        opacity: 0.5;
    }
    #currentissue .volume ion-row ion-col #subrow-volume ion-col span{
        opacity: 0.5;
    }
    #currentissue .volume ion-row ion-col #subrow-volume ion-col .download-info{
        align-items: center;
        justify-content: space-evenly;
        border-left: solid 2px #e6e6e6;
        display: flex;
        padding: 2px;
    }
    
    #currentissue .volume ion-row ion-col #subrow-volume ion-col .artigos{
        font-size: .6em;
        color: #1b7f7d;
        text-align: right;
        font-weight: 600;
    }

    #navbar-details .slick-active{
        color: #1b7f7d;
        
    }


    //*********************** Most Read *********************//
    .memorias-content .card-memorias-content ion-grid .most-read-row{
        border-top: none;
    }
    .memorias-content .card-memorias-content ion-grid .most-read-row:last-of-type{
        border-top: 2px solid rgba(0,0,0,0.1);
    }

    #most-read .more-content{
        background-color: #1b7f7d;
        color: #f2f2f2;
        text-align: center;
        width: max-content;
        padding: 5px 25px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        height: 5;
        font-size: 0.8em;
        border-radius: 20px;
        padding-bottom: 0px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #most-read .more-content ion-icon{
        font-size: 2em;
    }



    //*********************** All issue *********************//

    #all-issue .card-mostread{
        margin: 0;
        box-shadow: none;
        margin-top: 5px;
    }
    #all-issue .card-mostread:first-of-type{
        margin-top: 2px;
    }
    #all-issue .mat-expansion-panel-content{

    }
    #all-issue .mat-expansion-panel-content .mat-expansion-panel-body{
        padding: 0;
    }
    #all-issue .card-mostread .card-mostread-header[aria-expanded=true] .mat-content a ion-icon:before{
        content: "\f3d0";
    }
    #all-issue .card-mostread .card-mostread-header{
        padding: 0;
    }
    #all-issue .card-mostread .card-mostread-header .mat-content{
        display: block;
        background-color: #eaf3f2;
        padding: 10px;
        font-weight: 800;
        color: #1b7f7d;
        display: flex;
        justify-content: space-between;
    }
    #all-issue .card-mostread .card-mostread-header .mat-expansion-indicator{
        display: none;
    }
    #all-issue .card-mostread .card-mostread-header a ion-icon{
        color: #1b7f7d;
        font-weight: bold;
    }
    #all-issue .volume{
        padding:10px 0;
        overflow-x: scroll;
    }
    #all-issue .volume ion-row ion-col{
        padding: 0 10px;
    }
    #all-issue .volume ion-row ion-col .img-volume img{
        border: solid 3px #eaf3f2;
    }
    #all-issue .volume ion-row ion-col .title-volume{
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        color: #1b7f7d;
        line-height: 1em;
        display: block;
        margin-bottom: 5px;
    }
    #all-issue .volume ion-row ion-col .title-volume small{
        display: block;
        color: #222;
        font-weight: 400;
        width: 100%;
    }
    #all-issue .volume ion-row ion-col .description-volume{
        font-size: .6em;
        color: #999;
        line-height: 1.2em;
        display: block;
        margin-bottom: 5px;
    }
    #all-issue .volume ion-row ion-col{
        color: rgba(0,0,0,0.5);
    }
    #all-issue .volume ion-row ion-col #subrow-volume ion-col ion-icon[name="custom-favorite"]{
        top: 3px;
        position: relative;
    }
    #all-issue .volume ion-row ion-col #subrow-volume ion-col .download-info{
        align-items: center;
        justify-content: space-evenly;
        border-left: solid 2px #e6e6e6;
        display: flex;
        padding: 2px;
    }
    #all-issue .volume ion-row ion-col #subrow-volume ion-col .artigos{
        font-size: .6em;
        color: #1b7f7d;
        text-align: right;
        font-weight: 600;
    }

    .all-issue-content .fixed-content{  
        display: none;
    }
    .all-issue-content .scroll-content{
        margin: 0;
        // margin-bottom: 5px !important;
        
    }

    .all-issue-content {
        // height: 105% !important;
    }
    .slide-zoom {
        // height: 111% !important;
    }

    //************************* Fast Track ***********************//
    .ftRow ion-col span{
        opacity: .5;
    }
    .ftRow ion-col .mc-title{
        color: #222 !important;
    }

    .dataPost {font-size:0.67em; font-family: $fontPadrao;  color: #aaa; font-weight: 600;}
}
