<!-- Generated template for the SlideRecentPostsComponent component -->
<ion-slide id="recent-posts">  
   <!-- CONTEÚDO DO CARD MOST READ -->
   <section class="memorias-content" *ngFor="let recentPost of dadosRecentPost.dados; let i = index" (click)="sharedProvider?.goToPostPage(recentPost.id);">
      <div class="card-memorias-content ">
        <ion-grid>
          <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
          <ion-row class="most-read-row" [hidden]="(i+1)>10 && allPosts === false">
            <ion-col col-12>
              <!-- <span class="current-class"> -->
              <!-- {{artigo.tipo_artigo_nome}} -->
              <!-- ORIGINAL ARTICLE -->
              <!-- </span> -->
              <span class="mc-title" [innerHTML]="recentPost.nome">
                <!-- {{recentPost.nome}} -->
              </span>

              <!-- <p class="dataPost" [innerHTML]="recentPost?.data | date:'dd LLLL y'"></p> -->
              <p class="dataPost" [innerHTML]="recentPost?.data"></p>
          
              <!-- <span class="mc-autors">
                {{mostread.autores}}
              </span> -->
              <!-- <span class="mc-doi">
                DOI: {{mostread.doi}}
              </span> -->
            </ion-col>
            <!-- <ion-col col-2>
              <article>
                <ion-icon class="mc-icon" isActive="false" name="custom-favorite"></ion-icon>
                <ion-icon class="mc-icon" isActive="false" name="custom-trash"></ion-icon>
              </article>
            </ion-col> -->
          </ion-row>
  
        </ion-grid>
      </div>
  
      

    </section>

    <!-- <section class="more-content" (click)="viewAll()" id='bt_viewAllRecentPosts' full #btnViewAll>
      View All
      <br />
      <ion-icon name="ios-arrow-down"></ion-icon>
    </section> -->
    <!-- CONTEÚDO DO CARD MOST READ -->
</ion-slide>  