<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <h1 style="text-align: center;align-content: center;vertical-align: middle; height: 100%; display: grid;color: #1b7f7d;">
        EM CONSTRUÇÃO.<br/>AGUARDE!<br/>
        <ion-icon name="ios-construct" style="font-size: 72px"></ion-icon>
    </h1> -->

  <section id="search-bar">
    <div>
      <section class="search-bar">
        <ion-icon name="custom-newsearch" (click)="submitSearch()"></ion-icon>
        <ion-input id="input-search" clearOnEdit="true" (keyup.enter)="submitSearch()" [(ngModel)]="inputSearch" class="input-search" type="search" placeholder=""></ion-input>
        <ion-icon name="custom-close" (click)="submitClean()"></ion-icon>
      </section>
    </div>
    <!-- <button (click)="submitSearch()" class="button-search" ion-button color="light" full>Search</button> -->
    <section class="button-search" [innerHTML]="qntSearch + ' Articles'"></section>
  </section>

  <section id="search-listagem">
    <!-- COMPONENTE -->
    <search-list [dados]="listSearch"></search-list>
    <!-- FIM DO COMPONENT -->
  </section>

</ion-content>