﻿<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar class="logo">
    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">
  </ion-navbar>

  <!-- Nav Bar -->
  <section id="navbar-details" #navbarDetails>

    <div>
      <!-- Iteracao sobre as paginas -->
      <article class="meuteste" [class.slick-active]="i==slideAtivoChave" *ngFor="let item of navbar_list; let i = index"
        (click)="goToSlide(i);" id="nav_{{i}}">{{item}}</article>
    </div>

  </section>


  <!-- Collapse menu -->
  <section class="card-expansion-all">
    <article>
      <!-- Mostra total exceto para Allissues e Mostread -->
      <span *ngIf="slideAtivoChave!=4">
        {{total_artigos}} Articles
      </span>

      <!-- Mostra espaco em Allissues e Mostread -->
      <span *ngIf="slideAtivoChave==3 || slideAtivoChave==4">
        &nbsp;
      </span>

      <a href="#" (click)="toogleAll();" [innerHTML]="expandedAll ? 'Collapse All' : 'Expand all' " [hidden]="slideAtivoChave == 3" #collapse></a>
      <a href="#" (click)="viewAllRecentPosts();" id='bt_viewAllRecentPosts' [hidden]="showAllPosts || slideAtivoChave != 3">View All</a>

    </article>
  </section>
  <!-- Fim Collapse menu -->

</ion-header>

<ion-content>

  <ion-slides>

    <!--************************* Componente Ahead of Print ***************************-->
    <slide-ahead (pegarTotal)="setTotalArticles($event);" [expandedAll]="expandedAll && slideAtivoChave == 0"></slide-ahead>
    <!--********************** Fim Ahead of Print *************************************-->

    <!--************************* Componente Current Issue ****************************-->
    <slide-current-issue (pegarTotal)="setTotalArticles($event);" [expandedAll]="expandedAll && slideAtivoChave == 1"></slide-current-issue>
    <!--************************ Fim Corrent Issue ************************************-->

    <!-- ************************ Componente  MOST READ ****************************** -->
    <slide-most-read (pegarTotal)="setTotalArticles($event);" [expandedAll]="expandedAll && slideAtivoChave == 2"></slide-most-read>
    <!-- **************************** FIM  MOST READ ********************************* -->

    <!-- ************************ Componente  Recent Posts *************************** -->
    <slide-recent-posts (pegarTotal)="setTotalArticles($event);" [showAllPosts]="showAllPosts"></slide-recent-posts>
    <!-- **************************** FIM  Recent Posts ****************************** -->

    <!-- ************************ Componente  ALL ISSUE ****************************** -->
    <slide-all-issue [expandedAll]="expandedAll && slideAtivoChave == 4" [arrayFavoritos]="arrayFavoritos"></slide-all-issue>
    <!-- ****************************  FIM ALL ISSUE ********************************* -->

    <!-- ************************* Componente FAST TRACK ***************************** -->
    <slide-fast-track (pegarTotal)="setTotalArticles($event)" [expandedAll]="expandedAll && slideAtivoChave == 5"></slide-fast-track>
    <!-- **************************************** FIM TRACK ************************** -->

  </ion-slides>

</ion-content>