<!--
  Generated template for the MemoriasBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-toolbar class="memoriasboard-toolbar">
    Memorias Board
  </ion-toolbar>

  <main>
    <article>
      <section class="division">
        <h2 class="text-uppercase">Editors</h2>
        <ul>
          <li>Claude Pirmez - <span class="text-muted">Editor in chief</span></li>
          <li>Adeilton Alves Brandão</li>
          <li>Elisa Cupolillo</li>
          <li>Ana Carolina Paulo Vicente</li>
        </ul>
      </section>
      <section class="division">
        <h2 class="text-uppercase">Associated Editors</h2>
        <ul>
          <li>Alexandre J. da Silva | <span class="text-muted">Food &amp; Drug Administration - US</span></li>
          <li>Hooman Momen | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>John S. Spencer | <span class="text-muted"></span></li>
          <li>José Rodrigues Coura | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>José Rodrigues Coura | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>Marcelo Pelajo | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>Marcelo Ribeiro Alves | <span class="text-center">INI - Fiocruz - Brasil</span></li>
          <li>Marcelo Urbano Ferreira | <span class="text-muted">USP - Brasil</span></li>
          <li>Marcio Rodrigues | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>Maria Lucia Rosa Rossetti | <span class="text-muted">UFRS - Brasil</span></li>
          <li>Mariza Morgado | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>Nancy Gore Saravia | <span class="text-muted">CIDEIM - Colombia</span></li>
          <li>Paolo Zanotto | <span class="text-muted">USP - Brasil</span></li>
          <li>Ricardo Lourenço-de-Oliveira | <span class="text-muted">IOC - Fiocruz - Brasil</span></li>
          <li>Richard Paul | <span class="text-muted">Institute Pasteur - France</span></li>
          <li>Claudia Jurberg | <span class="text-muted">Advisor for social media | UFRJ - Brasil</span></li>
        </ul>
      </section>
      <section class="division">
        <h2 class="text-uppercase">Editorial Office</h2>
        <ul>
          <li><span class="text-muted">Executive Editor</span> | Hikmat Zein</li>
          <li><span class="text-muted">Editorial Secretary</span> | Maria Clara CM Carvalho</li>
          <li><span class="text-muted">Designer</span> | Leônidas Leite</li>
          <li><span class="text-muted">Assistant Designer</span> | Leandro Avelar</li>
          <li><span class="text-muted">Copy Editor</span> | Iraneide AF Cidreira</li>
        </ul>
      </section>
      <section class="division card-catalog">
        <h2 class="text-uppercase">Card Catalog</h2>
        <p>
          Memórias do Instituto Oswaldo Cruz. Vol. 1, 1909 - Rio de Janeiro: Fiocruz; 1909 - v.: il.; 28 cm.
        </p>
        <ul>
          <li>Irregular: 1909-1976</li>
          <li>Interrompida: 1977-1979</li>
          <li>Trimestral: 1980-1994</li>
          <li>Bimestral a partir do Vol. 90, 1995</li>
          <li>A cada 45 dias a partir do Vol. 96, 2001Mensal a partir do Vol. 111, 2016</li>
        </ul>
        <ul>
          <li>ISSN 0074-0276 - Versão impressa</li>
          <li>ISSN 1678-8060 - Versão online</li>
        </ul>
        <ul>
          <li>1. Medicina experimental - Periódicos - Brasil. 2. Pesquisa científica - Periódicos - Brasil. </li>
          <li>I. Fundação Oswaldo Cruz. II. Instituto Oswaldo Cruz. Secretaria das Memórias.</li>
        </ul>
      </section>
    </article>
  </main>


</ion-content>