page-explore {
    $toolbar-ios-title-text-color: #ffff;

    font-family: $fontPadrao;

    #header-explorer{
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        // box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        // font-size: .9em;
        // font-weight: 600;
        color: #1b7f7d;
        padding: 10px;
        justify-content: space-between;
        font-size: 1em;
        font-family: $fontPadrao;
    }
    #header-explorer .header-title{
        font-weight: 600;
    }
    #header-explorer .header-icons{
        padding-top: 5px;
        font-size: 1.7em;
    }





    main article{
        padding-right: 20px !important;
        padding-left: 20px !important;
        background-color: #eaf3f2;
        font-family: $fontPadrao;
    }

    // PRIMEIRA COLUNA
    main article .coluna{
        display: inline-block;
        width: 100%;
        margin: 20px 0 0;
    }

    main article .coluna h2{
        font-size: 1.12em;
        font-weight: 700;
        color: #1b7f7d;
        font-weight: 1em;
        margin: 0;
    }
    main article .coluna p{
        font-size: 1em;
        margin: 10px 0 0;
        font-weight: #222;
        // font-weight: 500;
    }

    // SEGUNDA COLUNA
    main article .coluna .logo-institution{
        width: 95px;
        display: inline-block;
        margin: 10px 10px 0 0;
    }


    // TERCEIRA COLUNA
    main article .internal-menu{
        margin: 20px -20px 0;
        background-color: #1b7f7d;
        display: inline-block;
        width: calc(100% + 40px);
        padding: 40px 0;
    }
    main article .internal-menu article{
        display: inline-block;
        width: 100%;
        background-color: unset;
    }
    main article .internal-menu article ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    main article .internal-menu article ul li{
        flex: 1;
        text-align: center;
    }
    main article .internal-menu article ul li a img{
        display: block;
        margin: 0 auto;
    }
    main article .internal-menu article ul li a ion-icon{
        display: block;
        margin: 0 auto;
        font-size: 4em;
        color: #fff;
    }
    main article .internal-menu article ul li a span{
        display: inline-block;
        margin: 5px 0 0;
        line-height: 1.2em;
        color: #fff;
    }
}
