<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>

</ion-header>


<ion-content>
  <header id="header-explorer">
    <section class="header-title">
      Journal of microbes &amp; their vectors<br>
      causing human infections
    </section>
    <section class="header-icons">
      <ion-icon name="custom-facebook"></ion-icon>
      <ion-icon name="custom-twitter"></ion-icon>
    </section>
  </header>

  <main>
    <article>
      <section class="coluna">
        <h2 class="text-uppercase">Open Access</h2>
        <p>The Memorias is published under the Open Access model and is therefore free for anybody to read and
          download, and to copy and disseminate for educational purposes.</p>
        <p>Content is freely accessible to readers and no publication fees are charged to authors.</p>
        <p>All content is published via a Creative Commons licence.</p>
        <p>The journal is completely financed by institutional funding from the Instituto Oswaldo Cruz, Fiocruz and
          grants from public funding agencies.</p>
      </section>
      <section class="coluna">

        <h2 class="text-uppercase">Support Program</h2>
        <div class="logo-institution">
          <img class="img-fluid" src="assets/imgs/logo-fiocruz.png" alt="FIOCRUZ" title="FIOCRUZ">
        </div>
        <div class="logo-institution">
          <img class="img-fluid" src="assets/imgs/logo-governo.png" alt="Governo Federal" title="Governo Federal">
        </div>
        <br>
        <div class="logo-institution">
          <img class="img-fluid" src="assets/imgs/logo-faperj.png" alt="FAPERJ" title="FAPERJ">
        </div>
        <div class="logo-institution">
          <img class="img-fluid" src="assets/imgs/logo-cnpq.png" alt="CNPQ" title="CNPQ">
        </div>
        <div class="logo-institution">
          <img class="img-fluid" src="assets/imgs/logo-capes.png" alt="CAPES" title="CAPES">
        </div>

      </section>
      <section class="coluna internal-menu">
        <article>
          <ul>
            <!-- <li (click)="goToPage('recents');">
              <a href="#">
                <img src="assets/icons/highlights.png" alt="">
                <span>Recent<br>Posts</span>
              </a>
            </li> -->
            <li (click)="goToPage('memory');">
              <a href="#">
                <!-- <img src="assets/icons/editorial-board.png" alt="" > -->
                <ion-icon name="custom-memorias-board"></ion-icon>
                <span>Memorias<br>Board</span>
              </a>
            </li>
            <li (click)="goToPage('policy');">
              <a href="#">
                <!-- <img src="assets/icons/editorial-policy.png" alt=""> -->
                <ion-icon name="custom-editorial"></ion-icon>
                <span>Editorial<br>Policy</span>
              </a>
            </li>
          </ul>
        </article>
      </section>
    </article>
  </main>

</ion-content>