<!-- CONTEÚDO DO CARD MOST READ -->
<section class="memorias-content">

  <div class="card-memorias-content">
    <ion-grid>
      <!-- ITEM DA LISTA PERTENCENTE A CATEGORIA ORIGINAL ARTICLE -->
      <ion-row class="most-read-row" *ngFor="let artigo of dados" (click)="sharedProvider?.goToArticlePage(artigo.id);">
        <ion-col col-10>
          <!-- <span class="current-class"> -->
          <!-- {{artigo.tipo_artigo_nome}} -->
          <!-- ORIGINAL ARTICLE -->
          <!-- </span> -->
          <span class="mc-title" [innerHTML]="artigo.artigo_nome">
            <!-- {{artigo.artigo_nome}} -->
            <!-- {{mostread.artigo_nome}}  -->
            <!-- New approaches in antimalarial drug discovery and development - A Review -->
          </span>
          <span class="mc-autors" [innerHTML]="artigo.autores">
            <!-- {{artigo.autores}} -->
            <!-- {{mostread.autores}} -->
            <!-- Anna Caroline C Aguiar; Eliana MM da Rocha; Nicolli B de Souza; Tanos CC França; Antoniana U Krettli -->
          </span>
          <span class="mc-doi" [innerHTML]="'DOI: '+ artigo.doi">
            <!-- DOI: {{mostread.doi}} -->
            <!-- {{artigo.doi}} -->
          </span>
        </ion-col>
        <ion-col col-2>
          <article>
            <icon-favorite-toogle [articleId]="artigo.id"></icon-favorite-toogle>
            <!-- <ion-icon class="mc-icon" isActive="false" name="custom-favorite"></ion-icon>
              <ion-icon class="mc-icon" isActive="false" name="custom-trash"></ion-icon> -->
          </article>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</section>
<!-- CONTEÚDO DO CARD MOST READ -->