page-editorial-policy {
  ion-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    padding: 10px 0;
    
  }
  ion-toolbar .toolbar-background{
    background-color: #fff;
  }
  ion-toolbar .toolbar-content{
    text-align: center;
  }
  #ep-content{
    padding: 20px;
    font-family: $fontPadrao;
  }
  main article{
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-family: "Open Sans", "Lucida Sans", sans-serif;
  }
  a{
    color: #1b7f7d;
  }
  main{
    display: inline-block;
    width: 100%;
    margin: 20px 0 0;
    line-height: 1.5em;
  }
  .title{
    font-size: 1.12em;
    font-weight: 700;
    color: #1b7f7d;
    // font-weight: 1em;
    margin: 0;
  }
  main article .division p{
    font-size: 1em;
    margin: 0;
    margin-bottom: 15px;
    // font-weight: #222;
  }

}
