<!--
  Generated template for the EditorialPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="logo">

    <img src="assets/imgs/logo-memorias.png" alt="Memórias do Instituto Oswaldo Cruz" title="Memórias do Instituto Oswaldo Cruz">

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-toolbar class="memoriasboard-toolbar">
      Editorial Policy
  </ion-toolbar>

  <main id="ep-content">

    <p>The <em>Memórias do Instituto Oswaldo Cruz</em> (MIOC) is a multidisciplinary journal which publishes original research on microbes and their vectors causing human infections. It welcomes basic and applied research in biochemistry, immunology, molecular and cell biology, physiology, pharmacology and genetics related to these subjects.&nbsp;</p>
<p>The journal publishes twelve issues constituting one volume per year. Occasionally papers presented at symposia or congresses are published as supplements.</p>
<p>The following article formats are accepted for publication: full articles, short communications, technical notes, perspectives, letter to editors. Review articles are considered only by invitation from an editorial board member. Except for the letter to editor, all other article formats will be submitted to external peer review. Acceptance will be based on scientific content and presentation of the material, and compliance with the good publication practices, as recommended by COPE.</p>
<p>Submission of a paper to the MIOC implies that is has not previously been published, or that it is not being considered for publication in a scientific journal elsewhere (except in an abstract form).&nbsp;</p>
<p><a href="recent-posts/item/38-memorias-do-instituto-oswaldo-cruz-welcomes-the-preprints" target="_blank" rel="noopener noreferrer"><strong>Manuscripts that were submitted to a recognized preprint server such as BioRxiv or PeerJ will not be considered as prior publication, and are welcome in MIOC</strong>&nbsp;</a></p>
<p>&nbsp;</p>
<h4 class="title"><strong>OPEN ACCESS PUBLISHING</strong></h4>
<p><em>Memórias do Instituto Oswaldo Cruz</em> is a journal with full commitment to open access. As a journal entirely supported by funding from Brazilian public bodies, we strive to guarantee that all information published in our pages:&nbsp;&nbsp;</p>
<p>a. is freely accessible to every reader at no charge;&nbsp;<br />b. reaches the maximum visibility as possible;&nbsp;<br />c. is in compliance with good practices for science publishing;<br />d. present no barrier to content dissemination.&nbsp;</p>
<p>This effort also includes a commitment to use the appropriate technological structure to assure that the articles and any intellectual content we publish here be available all the times for both authors and readers, regardless of geographic origin, nationality or gender. MIOC also attempts to get in pace with international guidelines promoting the free access to science content and best publishing practices.&nbsp; As such, MIOC encourages researchers to share their work in a preprint server.</p>
<h4 class="title"><strong>SCOPE</strong></h4>
<p><em>Memórias do Instituto Oswaldo Cruz</em> is a journal specialized in microbes &amp; their vectors causing human infections. This means that we accept manuscripts covering multidisciplinary approaches and findings in the basic aspects of infectious diseases, e.g. basic in research in prokariotes, eukaryotes, and/or virus. Articles must clearly show what is the main question to be answered, the hypothesis raised, and the contribution given by the study.</p>
<p>Priority is given to manuscripts reporting novel mechanisms and general findings concerning the biology of human infectious prokariotes, eukariotes or virus. Papers reporting innovative methods for diagnostics or that advance the basic research with these infectious agents are also welcome.</p>
<p>It is important to mention what we do not publish: veterinary infectious agents research, taxonomic analysis and re-description of species, epidemiological studies or surveys or case reports and data re-analysis. Manuscripts that fall in these cases or that are considered of low priority by the journal editorial board, will be returned to the author(s) for submission to another journal.</p>
<div class="text-editorial">
<div class="inst_tab3_ed">
<div class="inst_titulo_ed">Natural products and pharmacological investigation</div>
<div class="instructionauthors_ed">
  <!-- {loadposition editorialpolicy} -->
</div>
</div>
</div>
<p>Manuscripts that do not meet these criteria will not be examined by the editorial board and will be returned to the authors. Experimental research on plants must comply with institutional, national, or international guidelines. Authors should include the appropriate permissions and/or licenses needed to use in the work.&nbsp;In the case of access to the genetic resources and / or associated traditional knowledge the research must comply with the national legislation on Access and Benefit Sharing as well as Nagoya Protocol. More specifically in Brazil, the number of the receipt of the access registration on the National System for Genetic Heritage and Associated Traditional Knowledge Management (SisGen) must be indicated.</p>
<h4 class="title"><strong>LANGUAGE</strong></h4>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">Submitted papers must be written in English. Any submission written in a language that is not English will be returned to the authors. English of low quality is a major cause of delay in publication and we strongly advise authors with English as a foreign language to have their manuscripts checked by someone with English as a first language, preferably a scientist. When needed, papers submitted to MIOC may undergo the Premium Editing of English language review made by American Journal Experts.<br /></span></p>
<h4 class="title"><strong>ONLINE SUBMISSION</strong></h4>
<p>Submissions must be performed using our online system, where you will be able to check the content of your submission, the electronic file will be used for editorial assessment and online refereeing, and the editorial decision on the manuscript will be communicated to you. By using this service, you will guarantee fast and safe submission of your manuscript, and speed the assessment process (<a href="https://mc04.manuscriptcentral.com/mioc-scielo" target="_blank" rel="noopener noreferrer"><strong>Click here to start your submission</strong></a>).</p>
<h4 class="title"><strong>EVALUATION WORKFLOW</strong></h4>
<p>All manuscripts submitted to MIOC are firstly evaluated by the editorial board, whose decision is entirely based upon the content and relevance of the manuscript. This initial screening process results in three outcomes:</p>
<p><strong>1.</strong> The manuscript is not within the scope of the journal. Action: manuscript will be immediately returned to author(s).<br /><strong>2.</strong> The manuscript is considered as of ‘low priority’ for publishing in Memorias (eg, lack of novelty, no relevance, too specific, too technical). Action: manuscript will be immediately returned to author(s).<br /><strong>3.</strong> The manuscript is considered ‘potentially interesting for publication’. Action: i) editorial board performs a ‘compliance with publishing ethics”, e.g., plagiarism detection, duplication, manipulation. In any of these conditions, manuscript is rejected and returned to authors; ii) editorial board assigns a handling editor to manage the editorial procedure of that manuscript, who will invite external peer-reviewers (at least two), and will be responsible to communicating and following up the comments and suggestions from reviewers to authors.&nbsp;<br /><strong>4.</strong> Handling editor final decision: if recommendation is for ‘not to publish’, editorial board views the decision and communicates both authors and reviewers immediately. In case of ‘accept for publication’, editorial board confirms the decision, and both authors and reviewers will be communicated of such decision.<br /><strong>5.</strong> Handling editor leaves the editorial procedure and the accepted manuscript is transferred to editing center (format text, figures, data, references etc).</p>
<p>At any time and at its exclusive discretion, the editorial board may interrupt the procedure if any sign of misconduct is detected. No authorship change is allowed after the manuscript is accepted for publication.</p>
<h4 class="title"><strong>AUTHORSHIP</strong></h4>
<p>MIOC adheres to the criteria established by the International Committee of Medical Journal Editors (<a href="http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html" target="_blank" rel="noopener noreferrer"><strong>ICMJE</strong></a>). As such, authorship should fulfill all 4 criteria: 1) conception and design or acquisition, analysis or interpretation of data for the work; 2) drafting the work or revising it critically; 3) approval of the final version AND 4) accountability for all aspects of the work. Contributors that do not meet the criteria for authorship should be listed in the Acknowledgement section.</p>
<p>Each of the authors must describe their role in the manuscript. The corresponding author is responsible for ensuring that all authors have agreed to the submission of the manuscript, but all should take responsibility for its content. Only one of the authors should be the corresponding but more than one can be identified as ‘Equal first authors’.&nbsp;</p>
<p>The list and order of authors should be carefully considered when submitting the manuscript. Any change (addition, deletion or rearrangement of authors) during the evaluation process must have a reasonable and strong argument in addition to a written agreement of all previous authors. Authorship changes are not allowed after acceptance of the manuscript.</p>
<h4 class="title"><strong>LICENCES AND COPYRIGHT</strong></h4>
<p>All the contents of this journal, except where otherwise noted, is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer"><strong>Creative Commons Attribution License 4.0</strong></a>. This means that authors give full permission to anyone to share and to adapt the content of the article as long as the original authors and source is cited.</p>
<h4 class="title"><strong>DATA AVAILABILITY</strong></h4>
<p>The data that generated the manuscript must be open and publicly available whenever demanded. In case of research involving human subjects, data should be de-identified Information concerning gene sequences reported in the manuscript, must have its public bank accession number mentioned in the manuscript (e.g. GeneBank).</p>
<h4 class="title"><strong>ETHICAL GUIDELINES AND RESEARCH INTEGRITY</strong></h4>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">MIOC is a member of the Commission on Publication Ethics (COPE), and fully complies with the high standards established in the Code of Conduct and Best Practice Guidelines for Journal Editors. </span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">Approval by an appropriate Ethics Committee is mandatory for any research involving human subjects or any human material. The Authors should include in the manuscript the name of the ethics committee and the reference number of the approved project. All authors are required to follow the ICMJE requirements. Clinical trials or randomized controlled trials must have been registered in a primary register of the WHO International Clinical Trials Registry Platform.&nbsp;</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">Assays using animals must conform the principles of animal welfare in experimental science. Reference must be made to principles of laboratory animal care or similar regulations and to approval by the local ethical committee. Please provide the permit numbers and the name of the Ethical Committee.&nbsp;</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">All authors must ensure the reported researches are not the result of misconduct such as data fabrication, falsification, plagiarism or duplication. Please refer to Singapore Statement. In case of confirmed research misconduct, we will issue a retraction notice to correct the scientific record. We inform that a paper submitted to MIOC undergoes a process using the Ithenticate plagiarism checker software to prevent professional plagiarism and other forms of scholarly misconduct.&nbsp;</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">Responsibility for the accuracy of the material in the manuscript, including bibliographic citations, lies entirely with the authors.</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">We recommend the use of the checklists below to make sure that the work reported was performed according to good practice standards (<a href="http://www.equator-network.org/" target="_blank" rel="noopener noreferrer"><strong>Equator Network</strong></a>):</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">a. <a href="http://www.equator-network.org/reporting-guidelines/consort/" target="_blank" rel="noopener noreferrer"><strong>CONSORT</strong></a> for randomised trials;&nbsp;<br />b. <strong><a href="http://www.equator-network.org/wp-content/uploads/2015/03/STARD-2015-checklist.pdf" target="_blank" rel="noopener noreferrer">STARD</a></strong> for studies on diagnostic studies;&nbsp;<br />c. <a href="http://www.equator-network.org/reporting-guidelines/prisma/" target="_blank" rel="noopener noreferrer"><strong>PRISMA</strong></a> for systematic reviews and meta-analyses;&nbsp;<br />d. <a href="https://www.nc3rs.org.uk/arrive-guidelines" target="_blank" rel="noopener noreferrer"><strong>ARRIVE</strong></a> for pre-clinical animal studies.</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">In order to ensure the good quality and reproducibility, all resources used in the work should contain precise identification. We suggest authors to use<strong> <a href="https://scicrunch.org/resources" target="_blank" rel="noopener noreferrer">identifiers</a></strong> available for antibodies, organisms or computational tools at the<a href="https://www.force11.org/node/4463" target="_blank" rel="noopener noreferrer"><strong> Resource Identification Initiative</strong></a>.&nbsp;</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">Quantitative studies using PCR should follow the <a href="http://www.rdml.org/miqe.php" target="_blank" rel="noopener noreferrer"><strong>MIQE guidelines</strong></a>.&nbsp;</span></p>
<p><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">Any microorganism or cell line should be clearly identified including the source/collection, when and from where it was obtained, and if it was authenticated. Human cell lines should have been recently tested for mycoplasma contamination.</span></p>
<h4 class="title"><strong>CONFLICT OF INTERESTS</strong></h4>
<p>All authors should declare any competing interest, financial or not-financial that might have influenced their manuscript. Authors from pharmaceutical companies, or other commercial organizations that sponsor clinical trials, should declare these as competing interests on submission and ensure the adherence to the <a href="http://www.ismpp.org/gpp3" target="_blank" rel="noopener noreferrer"><strong>Good Publication Practice guidelines for pharmaceutical companies</strong></a> (GPP3).</p>
<p style="text-align: left; line-height: 1.5;"><span style="color: #ffffff;">-</span></p>
<p style="text-align: left; line-height: 0.5;"><span style="font-size: 10pt;"><strong>Claude Pirmez&nbsp;</strong>|&nbsp;<em>Editor in chief</em></span></p>
<p style="text-align: left; line-height: 0.5;"><span style="font-size: 10pt;"><strong>Adeilton Alves Brandão</strong></span></p>
<p style="text-align: left; line-height: 0.5;"><span style="font-size: 10pt;"><strong>Elisa Cupolillo</strong></span></p>
<p style="text-align: left; line-height: 0.5;"><span style="font-size: 10pt;"><strong>Ana Carolina Paulo Vicente</strong></span></p>


  </main>
</ion-content>